@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #4c6a45; /* Pink background color */
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4c6a45;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 130px;
  overflow-y: auto;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #435c3b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-btn:hover {
  background-color: #435c3b; /* Lighter pink on hover */
}

/* Container Styles */
.page-container {
  margin-top: 2%;
  display: flex;
  height: auto;
  overflow: hidden;
}

/* Sidebar Styles for Search History */
.search-history-sidebar {
  width: 25%; /* Adjust the width to 30% */
  background: -webkit-linear-gradient(to bottom, #A8DADC, #F5F5F5);
  background: linear-gradient(to bottom, #A8DADC, #F5F5F5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  height: 80vh;
  overflow-y: auto; /* Add vertical scroll when content exceeds the sidebar height */
}
.filter-sidebar {
  width: 10%; /* Adjust the width to 30% */
  background: -webkit-linear-gradient(to bottom, #A8DADC, #F5F5F5);
  background: linear-gradient(to bottom, #A8DADC, #F5F5F5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  height: 80vh;
  border-top-right-radius: 30px;
  overflow-y: auto; /* Add vertical scroll when content exceeds the sidebar height */
}

.sidebar-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: black;
  font-family: 'Poppins', sans-serif;
}



.search-history-item {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis "[..]";
}

.search-history-query {
  width: 100%;
  font-weight: bold;
  color: black;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis "[..]";
}

.search-history-time {
  color: black;
  text-align: right;
  width: 20%; /* Adjust based on your preference */
}

.patents-section {
  flex: 1; /* Allow the main content to grow and fill the remaining space */
}



/* Sidebar styles */
.sidebar {
  font-family: 'Poppins', sans-serif;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #FFF; /* Light background color */
  overflow-x: hidden;
  transition: left 0.3s ease-in-out; /* Add sliding animation */
  padding: 80px 20px 20px 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #333; /* Text color */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.sidebar.open {
  left: 0;
  transition: left 0.3s ease-in-out; /* Add sliding animation */
}


h1, h3{
  font-family: 'Poppins', sans-serif;
}

/* Date range styles */
.date-range {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.date-range label {
  margin-bottom: 5px;
}

.date-range input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

/* Filter options */
.filter-option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  justify-content: flex-start;
}

.filter-option input[type="checkbox"] {
  margin-right: 10px;
}

/* Filter button */
.filter-button {
  font-family: 'Poppins', sans-serif;
  background-color: #FF6B8B; /* Pink color */
  color: #FFF; /* Text color */
  border: none;
  padding: 20px 40px; /* Increased padding for a larger button */
  border-radius: 8px; /* Rounded corners for a more aesthetic look */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition on hover */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px; /* Increased font size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow for depth */
  background-image: linear-gradient(to bottom, #FF6B8B, #FF4B69); /* Gradient background */
  white-space: nowrap; /* Prevent text wrap */
  overflow: hidden; /* Hide text overflow */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.filter-button:hover {
  background-color: #FF4B69; /* Darker pink on hover */
  transform: scale(1.1); /* Slightly larger on hover for a more dynamic effect */
}

/* Center the button */
.apply-filters {
  display: flex;
  justify-content: center;
}

/* Optional: Add some margin for spacing */
.filter-button {
  margin-top: 30px; /* Increased margin for more spacing */
}



/* Button to open the sidebar */
.open-sidebar-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  cursor: pointer;
  color: #4c6a45; /* Pink color */
  font-size: 35px;
  transition: color 0.3s; /* Add transition for color change */
  display: none;
}


#search-bar-area {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the contents */
  background: -webkit-linear-gradient(to right, #A8DADC, #F5F5F5);
  background: linear-gradient(to right, #A8DADC, #F5F5F5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 5%;
  position: relative; /* To position the logo */
}


#logo {
  margin-right: 10%;
  font-size: 2.3vw;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#logo a {
  text-decoration: none; /* Remove any underlines from the link */
  color: #8FC1A9; /* Set the color to black */
  transition-delay: 1s;
}
#logo a:hover{
  color: white; 
}

#logo span {
  display: inline-block;
  transform-origin: center bottom;
}
.fa-calendar{
  color: #8FC1A9 ;
  padding-top: 0;
}


.search-form {
  width: 60%; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s; /* This makes all property changes smooth */
}

.search-input-container {
  position: relative;  /* Ensures child absolute positioning is relative to this container */
  width: 100%;  /* Set to full width of its container */
  display: flex;
  align-items: center;
}
/* Update the search input styles */
.search-input {
  flex-grow: 1;
  min-height: 40px; /* Minimum height for one line */
  padding: 10px 100px 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 90px - 40px - 40px);
  resize: vertical; /* Allow vertical resizing */
}

/* Add a transition for smooth height changes */
.search-input {
  transition: min-height 0.5s, max-height 0.5s;
}

/* Add a class to handle the expanded state */
.search-input.expanded {
  max-height: 180px; /* Adjust the maximum height as needed for three lines */
}


button {  
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

button.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  color: #8FC1A9;
  transform: translateY(-50%);
}

button.icon-button {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

button i.fa {
  color: #8FC1A9;
}


.search-history-item {
  cursor: pointer; /* Make the cursor look like a pointer when hovering over the item */
  padding: 10px 15px; /* Give some padding */
  border: 1px solid #ccc; /* Give a border */
  border-radius: 4px; /* Rounded corners for a button-like appearance */
  display: block; /* Block level to fill entire width of li */
  text-align: center; /* Center the text */
  background-color: #f5f5f5; /* Light background color */
  margin-bottom: 5px; /* Spacing between items */
  transition: background-color 0.3s; /* Smooth background-color transition */
}

.search-history-item:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.similarity-badge {
  position: absolute;
  top: -10px; 
  right: 10px; 
  padding: 5px 15px;
  border-radius: 0 0 5px 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 3;
  background-color: inherit; /* This will get the background color from whatever you set in JavaScript. */
}

.patent-title{
  width: 70%;
}


.check{
  width: 30px;
  height: 30px;
  color: #8FC1A9;
  border-radius: 50%;
  z-index: 100000;
}

.patents-section {
  overflow-y: auto;
  transition: max-height 0.5s ease-in-out; /* smooth expansion transition */
  padding: 0 20px; /* horizontal padding for content */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}
.saved-patent {
  background-color: #8FC1A9 !important;
}


.patents-section.expanded {
  max-height: 80vh; /* or whatever value you want it to expand to */
}

.patent-box {
  position: relative;
  height: auto;
  flex-shrink: 0;
  transition: transform 0.3s ease, z-index 0.3s ease, width 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
  z-index: 1;
  background-color: #FFF; /* white background for individual patents */
  padding: 15px;
  margin: 10px 0; /* space between individual patents */
  border-radius: 20px; /* rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  margin-bottom: 20px;  /* Adjust this value as needed */
  width: 80%;
}

.patent-box:hover {
  background: -webkit-linear-gradient(to right, #A8DADC, #F5F5F5);
  background: linear-gradient(to right, #A8DADC, #F5F5F5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.patents-section.show-results {
  max-height: 1000px; /* expands to a large height */
}

.patent-box:first-child {
  margin-top: 2%;  /* Adjust this value as needed */
}

.patent-box:last-child {
  margin-bottom: 5%;  /* Adjust this value as needed */
}

.patent-buttons {
  display: flex;
  gap: 10px; /* Space between individual suggestions */
  flex-wrap: wrap;
}

.patent-button {
  background-color: #8FC1A9; /* Light gray background */
  padding: 5px 15px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: white; /* Darker text for better contrast on light background */
  cursor: pointer;
  transition: background-color 0.3s;
}

.patent-button a {
  color: inherit; /* inherit the color from parent element */
  text-decoration: none; /* remove the underline */
}

.patent-button:hover {
  background-color: #A8DADC; /* Slightly darker gray on hover */
}

/* Add the following styles for the minimalistic button */
.minimalistic-button {
  text-decoration: none;
  background-color: white;
  color: #8FC1A9;
  border-radius: 20px;
  padding: 20px 30px;
  margin-left: 1%; /* Adjust this margin as needed */
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  position: relative; /* Add this */
  overflow: hidden; /* Hide overflow for pseudo-element */
}

.minimalistic-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #8FC1A9; /* Border color */
  box-sizing: border-box; /* Include border in element's total size */
  transform: scale(0); /* Initially, no border */
  transition: transform 0.3s ease; /* Animation duration and easing */
}

.minimalistic-button:hover::before {
  border-radius: 20px;
  transform: scale(1); /* Scale up to wrap around the entire div */
}




/**************************PAGINATION*************************/
/* Add the following styles for pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  background-color: #4c6a45;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #435c3b;
}

.pagination a.activePage {
  background-color: #3e542f;
  color: white;  /* Optional: If you want to change the text color for better contrast */
}

@media screen and (max-width: 1000px){
  #logo{
    font-size: 30px;
  }
  .patent-title{
    font-size: 30px
  }
  .patent-abstract{
    font-size: 15px; 
  }
}

@media screen and (max-width: 775px) {
  .search-history-sidebar, .filter-sidebar{
    display: none;
  }
  .open-sidebar-button{
    display: inline;
  }

  #logo{
    font-size: 25px;
  }
  .result-list li{
    padding-bottom: 10%;
  }
}
  
@media screen and (max-width: 595px) {
  #logo{
    font-size: 20px;
  }
}


@media screen and (max-width: 500px) {
  #logo{
    font-size: 15px;
  }
}


@media screen and (max-width: 414px) {
  #logo{
    font-size: 10px;
  }
}
.letter {
  display: inline-block;
  transform-origin: center bottom;
}

.animate {
  animation: waviy 1s ease-out infinite;;
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}