@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*******************search bar*************************/
#search-bar-area {
  background-color: black;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

#logo {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  padding-left: 5%;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.search-input-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  height: 80px;
  padding: 12px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  resize: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.search-input::placeholder {
  color: #999;
  font-family: 'Poppins', sans-serif;
}

.search-button {
  background-color: #39FF14;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  padding: 12px 24px;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

/* Style for the "Saved Patents" button */
.saved-button {
  background-color: green;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  margin-right: 10%;
  text-align: center;
}

.saved-button:hover {
  background-color: darkgreen;
}


  
  /********************************* Results page *********************************/
  .patent-title{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
  }
  .patent-abstract{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .links{
    float: right;
  }

  .links a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 10px;
    background-color: green;
    border-radius: 5px;
    padding: 12px 24px;
    color: white;
  }
  .result-list{
    width: 95%;
    margin: 0 auto;
    list-style: none;
  }

  .result-checkbox{
    height: 30px;
    width: 20px;
  }

/*********************************filter *********************************/
#search-results {
  display: flex;
  align-items: flex-start; /* Add this line */
}

#filter {
  font-family: 'Poppins', sans-serif;
  padding-left: 2.5%;
  display: flex; /* Display form contents as a flex container */
}

.keywordFilter {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add a bit of space between the divs */
}


.keywordFilter {
  flex: 2.5; /* Keyword filter occupies 1.5 units of space */
}

.keywordBar {
  font-family: 'Poppins', sans-serif;
  height: 30px;
  flex: 1;
  margin-right: 10px;
  margin-left: 10px; 
}

.submitButton {
  font-weight: 500;
  background-color: green;
  border-radius: 5px;
  padding: 12px 24px;
  color: white;
  flex-shrink: 0;
}
.line{
  height: 2px;
  width: 100%;
  background-color: black;
  margin: 0 auto;
}

/*****SAVE SELECTED PATENT BUTTON****/

/* Style for the Save Selected Patents button */
.save-button {
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
  margin-left: 2%;
}

.save-button:hover {
  background-color: darkgreen;
  
}

/****************Footer******** ******/
#footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
}

.pagination li {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
/****************************** media queries ******************************/

@media screen and (max-width: 1000px){
  #logo{
    font-size: 30px;
  }
  .patent-title{
    font-size: 30px
  }
  .patent-abstract{
    font-size: 15px; 
  }
}

@media screen and (max-width: 775px) {
  #logo{
    font-size: 25px;
  }
  .result-list li{
    padding-bottom: 10%;
  }
}
  
@media screen and (max-width: 595px) {
  #logo{
    font-size: 20px;
  }
}


@media screen and (max-width: 500px) {
  #logo{
    font-size: 15px;
  }
}


@media screen and (max-width: 414px) {
  #logo{
    font-size: 10px;
  }
}