/* Login Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.page-title {
  font-size: 64px;
  color: #FFF;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.login-box {
  background-color: #4c6a45;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.login-box h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  color: white; 
}

/* Login Form Styles */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #3e542f;
  font-size: 18px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.95);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #FFF;
}

.login-button {
  background-color: #4c6a45;
  font-family: 'Poppins', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 30px;
  cursor: pointer;
  
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
  background-color: #3e542f;
  transform: scale(1.05);
}

/* Signup Form Styles (Initially Hidden) */
.signup-box {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Login and Signup Links Styles */
.signup-link,
.login-link {
  margin-top: 20px;
  font-size: 18px;
}

.signup-link a,
.login-link a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.signup-link a:hover,
.login-link a:hover {
  color: #3e542f;
}
