
<div class="login-container">
    <div class="login-box">
      <h1 class="page-title">Semantic</h1>
      <form id="loginForm" [hidden]="showSignupForm">
        <!-- Login form fields -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="disclaimer">
          <p>We value your privacy. No information is stored in our system.</p>
      </div>
        <button class="login-button" type="submit" (click)="login()">Login</button>
      </form>

      <form id="signupForm" [hidden]="!showSignupForm">
        <!-- Signup form fields -->
        <div class="form-group">
          <label for="newFirstName">First Name</label>
          <input type="text" id="newFirstName" name="newFirstName" [(ngModel)]="firstName" required>
        </div>
        <div class="form-group">
          <label for="newLastName">Last Name</label>
          <input type="text" id="newLastName" name="newLastName" [(ngModel)]="lastName" required>
        </div>
        <div class="form-group">
          <label for="newUsername">Enter an email</label>
          <input type="text" id="newUsername" name="newUsername" [(ngModel)]="newEmail" required>
        </div>
        <div class="form-group">
          <label for="newPassword">Choose a Password</label>
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        </div>
        <div class="form-group">
          <label for="newCompany">Enter your company</label>
          <input type="text" id="newCompany" name="newCompany" [(ngModel)]="company" required>
        </div>
        
        <button class="login-button" type="submit" (click)="register()">Sign Up</button>
        <div class="disclaimer">
          <p>We value your privacy. No information is stored in our system.</p>
      </div>

      </form>

      <div class="login-link">
        <a (click)="toggleForm()">{{ showSignupForm ? 'Back to Login' : 'Sign Up' }}</a>
      </div>
    </div>
  </div>
  