/* Navbar styles */
#navbar {
    color: #fff; /* White text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 15vh;
}

.title {
    font-size: 45px;
    color: #555;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    display: flex;
    gap: 20px;
}

/* Button styles */
.nav-button {
    background-color: #FFC0CB;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #555;
    padding: 20px;
}

.nav-button:hover {
    background-color: #DADADA; /* Neon green background color on hover */
}



#logo {
    margin-right: 10%;
    font-size: 3vw;
    color: #FFC0CB;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  #logo a {
    text-decoration: none; /* Remove any underlines from the link */
    color: #FFC0CB; /* Set the color to black */
  }
  
  #logo span {
    display: inline-block;
    transform-origin: center bottom;
  }

  

/*********************** SAVED PATENTS SECTION *******************/
#savedPatents{
    height: auto;
    margin-left: 1%;
    width: 95%;
    margin: 0 auto;
}
.title2 {
    color: #555;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
ol {
    list-style-type: none; 
    padding-left: 20px; /* Add left padding to the list */
    text-decoration: none;
    margin: 0 auto;
}

li {

    margin-bottom: 20px; /* Add spacing between list items */
    padding: 20px; /* Add padding to each list item */
    background-color: #f9f9f9; /* Light gray background color for list items */
    border-radius: 5px; /* Rounded corners for list items */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Styles for patent title */
.patent-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; /* Reduced font size */
    margin-top: 0; /* Remove top margin to align with the content */
}

/* Styles for patent abstract */
.patent-abstract {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px; /* Reduced font size */
    margin-bottom: 10px; /* Add spacing between title and abstract */
}

/* Styles for links */
.links {
    text-align: right; /* Right-align the links */
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 10px;
    background-color: #FFC0CB;
    border-radius: 5px;
    padding: 12px 24px;
    color: #555;
    text-decoration: none; /* Remove underlines from links */
    display: inline-block; /* Display links as blocks */
}

.links a:hover {
    background-color: #DADADA; /* Darker green on hover */
}

#delete{
    color: white;
    background-color: red;
}



/************* CLEAR LIST BUTTON **********/
.cool-button {
    background-color: red; /* Green background color */
    color: white; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

.cool-button:hover {
    background-color: #DADADA; /* Slightly darker green on hover */
}

.switch-button {
    background-color: #FFC0CB; /* Green background color */
    color: white; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}
.switch-button:hover {
    background-color: #DADADA; /* Slightly darker green on hover */
}


/************** SEARCH BAR ****/
/* Cool search bar styles */
.search-container {
    display: flex;
    background-color: rgb(221, 221, 221); /* Blue background color */
    border-radius: 5px;
    overflow: hidden; /* Hide button overflow */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 12px;
    font-size: 16px;
    outline: none;
    background: transparent; /* Transparent input background */
    font-family: 'Poppins', sans-serif;
}

.search-button {
    background-color: #FFC0CB; /* Green button background color */
    color: #555; /* White button text color */
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

.search-button:hover {
    background-color: #DADADA; /* Slightly darker green on hover */
}




/**************************PAGINATION*************************/
/* Add the following styles for pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    text-decoration: none;
    background-color: #FFC0CB;
    color: #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
  }
  
  .pagination a:hover {
    background-color: #DADADA;
  }
  

/********MEDIA QUERIES*****/
@media (max-width: 820px) {
    .title{
        font-size: 45px;
    }
    .nav-button {
        font-size: 25px;
    }
  }

  @media (max-width: 670px) {
    .title{
        font-size: 35px;
    }
    .nav-button {
        font-size: 20px;
    }
    .title2{
        font-size: 50px;
    }
  }

  @media (max-width: 670px) {
    .uspto{
        margin-top: 10px;
    }
  }

  @media (max-width: 550px) {
    .title{
        font-size: 20px;
    }
    .nav-button {
        font-size: 15px;
    }
    .title2{
        font-size: 30px;
    }
  }
  @media (max-width: 441px) {
    .title{
        font-size: 15px;
    }
    .nav-button {
        font-size: 10px;
    }
  }

  @media (max-width: 386px) {
    .gpatent{
        margin-top: 10px;
    }
  }
  
  