<nav id="navbar">
    <!-- <div class="title">Semantic</div> -->
    <div id="logo">
        <a href="#">
          <span *ngFor="let letter of titleLetters; let i = index"
                class="letter" [class.animate]="isSearching" [style.animation-delay]="(1 + i * 0.2) + 's'">
            {{ letter }}
          </span>
        </a>
      </div>

      
    <div class="buttons">
        <a href="/search" class="nav-button">Home</a>
        <a href="#" class="nav-button">Back to Results</a>
    </div>
</nav>

<section id="savedPatents">
    <br>
    <div class="imp-button">
        <h1 class="title2">Saved Patents: </h1>
        <button class="switch-button">Keyword Search</button>
    </div>
    
    
    <br>
    <form>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>        
    </form>
    <br>
    <form>
        <button class="cool-button">Clear List</button>
    </form>
    <br>
    <ol>
        <li>
            <h1 class="patent-title">Patent Title</h1>
            <h2 class="patent-abstract">
                <b>Patent Abstract:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Laboriosam, nostrum porro quo ipsa cum ipsam voluptas quia nemo optio
                voluptatibus similique! Praesentium, necessitatibus repudiandae? Quo, debitis expedita. 
                Cupiditate, repellat harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Debitis earum minima aliquam deleniti magni voluptate atque vitae deserunt quia magnam
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptates saepe quis 
                perspiciatis soluta sequi temporibus hic ipsam voluptas, pariatur numquam et impedit 
                corporis mollitia esse obcaecati rerum expedita. Velit? 
            </h2>
            <br>
            <div class="links">
                <a class="uspto-link">Open Document</a>
                <a class="gpatent">Google Patents</a>
                <a class="uspto">USPTO</a>
                <a id="delete">Delete</a>
            </div>
        </li>
    </ol>
    
</section>


