/* Navbar styles */
#navbar {
    width: 80%;
    color: #fff; /* White text color */
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 5%;
    height: 15vh;
    background-color: #4c6a45;
}

.highlight {
    background-color: #4c6a45;
    font-weight: bold;
  }
  

.title {
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    display: flex;
    gap: 20px;
}

/* Button styles */
.nav-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 20px;
}

.nav-button:hover {
    background-color: #435c3b; /* Neon green background color on hover */
}



#logo {
    margin-right: 10%;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  #logo a {
    text-decoration: none; /* Remove any underlines from the link */
    color: white; /* Set the color to black */
  }
  
  #logo span {
    display: inline-block;
    transform-origin: center bottom;
  }


  
  

/*********************** SAVED PATENTS SECTION *******************/
#savedPatents{
    height: auto;
    margin-left: 1%;
    width: 95%;
    margin: 0 auto;
}
.title2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
ol {
    list-style-type: none; 
    padding-left: 20px; /* Add left padding to the list */
    text-decoration: none;
    margin: 0 auto;
}

li {

    margin-bottom: 20px; /* Add spacing between list items */
    padding: 20px; /* Add padding to each list item */
    background-color: #f9f9f9; /* Light gray background color for list items */
    border-radius: 5px; /* Rounded corners for list items */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Styles for patent title */
.patent-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; /* Reduced font size */
    margin-top: 0; /* Remove top margin to align with the content */
}

/* Styles for patent abstract */
.patent-abstract {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px; /* Reduced font size */
    margin-bottom: 10px; /* Add spacing between title and abstract */
}

/* Styles for links */
.links {
    text-align: right; /* Right-align the links */
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 10px;
    background-color: #4c6a45;
    border-radius: 5px;
    padding: 12px 24px;
    color: white;
    text-decoration: none; /* Remove underlines from links */
    display: inline-block; /* Display links as blocks */
}

.links a:hover {
    background-color: #3e542f; /* Darker green on hover */
}

#delete{
    color: white;
    background-color: red;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
#delete:hover{
    background-color: #3e542f;
}

.title{
    font-size: 3.5rem; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/* Sidebar styles */
#sidebar {
    width: 20%;
    background-color: #4c6a45;
    color: #555;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
}

.sidebar-header {
    padding: 15px;
    text-align: center;
}

#add-project-button {
    background-color: #4c6a45;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

#add-project-button:hover {
    background-color: #3e542f;
}

.project-list {
    list-style-type: none;
    padding: 0;
    
}

.project-list li {
    display: flex;
    justify-content: space-between; /* Align items to the right side */
    align-items: center; /* Center vertically */
    margin: 0 auto;
    margin-top: 5%;
    width: 95%;
    padding: 10px;
    text-align: left;

}

.project-list a {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    width: 90%;
    text-decoration: none;
    color: #555;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-list li:hover {
    background-color: #DADADA;
}

/* Content styles (adjust the margin-left to accommodate the sidebar width) */
#content {
    margin-left: 20%;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.delete-icon{
    color: red; /* Icon color */
    font-size: 18px; /* Icon size */
    cursor: pointer;
}

.edit-icon{
    font-size: 18px; /* Icon size */
    cursor: pointer;
    margin-right: 2%;
}

.edit-icon:hover{
    color: #3e542f;
}

.delete-icon:hover {
    color: darkred; /* Icon color on hover */
}



/************* CLEAR LIST BUTTON **********/
.cool-button {
    background-color: red; /* Green background color */
    color: white; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

.cool-button:hover {
    background-color: #4c6a45; /* Slightly darker green on hover */
}


/************** SEARCH BAR ****/
/* Cool search bar styles */
.search-container {
    display: flex;
    background-color: rgb(221, 221, 221); /* Blue background color */
    border-radius: 5px;
    overflow: hidden; /* Hide button overflow */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 12px;
    font-size: 16px;
    outline: none;
    background: transparent; /* Transparent input background */
    font-family: 'Poppins', sans-serif;
}

.search-button {
    background-color: #4c6a45; /* Green button background color */
    color: white; /* White button text color */
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

.search-button:hover {
    background-color: #3e542f; /* Slightly darker green on hover */
}




  

/********MEDIA QUERIES*****/
@media (max-width: 820px) {
    .title{
        font-size: 45px;
    }
    .nav-button {
        font-size: 25px;
    }
  }

  @media (max-width: 670px) {
    .title{
        font-size: 35px;
    }
    .nav-button {
        font-size: 20px;
    }
    .title2{
        font-size: 50px;
    }
  }

  @media (max-width: 670px) {
    .uspto{
        margin-top: 10px;
    }
  }

  @media (max-width: 550px) {
    .title{
        font-size: 20px;
    }
    .nav-button {
        font-size: 15px;
    }
    .title2{
        font-size: 30px;
    }
  }
  @media (max-width: 441px) {
    .title{
        font-size: 15px;
    }
    .nav-button {
        font-size: 10px;
    }
  }

  @media (max-width: 386px) {
    .gpatent{
        margin-top: 10px;
    }
  }
  
  