<section id="search">
    <h1 id="logo">
      <span *ngFor="let letter of titleLetters; let i = index"
            class="letter" [class.animate]="isSearching" [style.animation-delay]="(i * 0.2) + 's'">
        {{ letter }}
      </span>
    </h1>
    <form class="search-form" #searchForm>
      <div class="search-input-container">
        <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="queryValue" name="searchQuery" required>
        <!-- Hidden Angular Material Datepicker Input -->
        <input matInput [matDatepicker]="picker" style="display: none" [(ngModel)]="selectedDate" name="selectedDate">
        <mat-datepicker touchUi="true" #picker class="cdk-overlay-transparent-backdrop"></mat-datepicker>
        <!-- Calendar Icon to open the Angular Material Datepicker -->
        <button mat-icon-button (click)="picker.open()" class="icon-button" [disabled]="isSubmitting">
          <i class="fa fa-calendar"></i>
        </button>
        <button (click)="onSubmit()" class="search-button" [disabled]="isSubmitting">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
    
    <div class="suggest-for-you">
        <h2 class="suggest-title">Suggest for you</h2>
        <div class="suggestions-container">
            <span class="suggested-query">Enter a patent number</span>
            <span class="suggested-query">Describe an invention idea</span>
            <span class="suggested-query">Find patents in biotechnology</span>
            <span class="suggested-query">Explore latest tech patents</span>
            <span class="suggested-query">Search patents by title</span>
            <!-- Add more suggestions as needed -->
        </div>
    </div>
  
    <a href="/login">
      <button class="login-button">
        <i class="fa fa-user" style="color: white;"></i>
      </button>
    </a>
        
  </section>
  