<section id="search">
    <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="/home">Home</a></li>
          <li class="navbar-item"><a href="#about">About</a></li>
          <li class="navbar-item"><a href="#search"><span class="current">Search</span></a></li>
          <li class="navbar-item"><a href="/chat">Chat</a></li>
        </ul>
      </nav>


        <h1 id="logo">
            Patent.AI
        </h1>

        <form class="search-form" action="">
            <textarea class="search-input" placeholder="Search..." required></textarea>
            <button>Search</button>
          </form>


</section>
