
/***** NAV BAR ****/


   .current{
     color: #39FF14;
   }
   
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .navbar-item {
    margin: 0;
    padding: 0;
  }
  
  .navbar-item a {
    display: block;
    padding: 2% 4%; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: color 0.75s ease;
    font-size: 25px;
  }
  
  .navbar-item a:hover {
    color: #39FF14;
  }
  

  
/**** Search PAGE ***/
#search{
    height: 100vh;
    /* The image used */
    background-image: url("src/assets/HomeBackground.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    font-size: 170px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    
}


/************************** search bar ***********************/

  
  .search-form {
    position: relative;
    transform: translate(-50%, -40%);
    top: 40%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 80%;
    height: 80px;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .search-input::placeholder {
    color: #999;
    font-family: 'Poppins', sans-serif;
  }
  
  button {
    margin-top: 10px;
    background-color: #39FF14;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
    background-color: #2DB81B;
  }
  
  

/*************** Media Queries ******************/

  @media (max-width: 850px) {
    #logo{
      font-size: 130px;
    }
    
  }
  @media (max-width: 768px) {
    .navbar-item a {
      padding: 2% 2%; /* Percentage-based padding for smaller screens */
    }
    #logo{
      font-size: 80px;
    }
  }
  @media (max-width: 480px) {
    .navbar-item a {
      padding: 2% 0; /* Further reduce padding for even smaller screens */
    }
  }