
<section id="search">
    <h1 id="logo">
      <a href="#">
      <span *ngFor="let letter of titleLetters; let i = index"
            class="letter" [class.animate]="isSearching" [style.animation-delay]="(i * 0.2) + 's'">
        {{ letter }}
      </span>
      </a>  
    </h1>
    <div class="top-right-dropdown">
      <div class="dropdown">
        <button class="login-button">
          <i class="fa fa-user" style="color: white;"></i>
        </button>
        <div class="dropdown-content">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
    
    <form class="search-form" #searchForm>
      <div class="search-input-container">
        <textarea class="search-input" placeholder="Search..." [(ngModel)]="queryValue" name="searchQuery" required></textarea>
        <!-- Hidden Angular Material Datepicker Input -->
        <input matInput [matDatepicker]="picker" style="display: none" [(ngModel)]="selectedDate" name="selectedDate">
        <mat-datepicker touchUi="true" #picker class="cdk-overlay-transparent-backdrop"></mat-datepicker>
        <!-- Calendar Icon to open the Angular Material Datepicker -->
        <button mat-icon-button (click)="picker.open()" class="icon-button" [disabled]="isSubmitting">
          <i class="fa fa-calendar"></i>
        </button>
        <button (click)="onSemanticSearch()" class="search-button" [disabled]="isSubmitting">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <br><br>
      <div class="search-input-container">
        <textarea class="search-input" placeholder="Search..." [(ngModel)]="queryIndexValue" name="searchQuery" required></textarea>
        <!-- Hidden Angular Material Datepicker Input -->
        <input matInput [matDatepicker]="picker" style="display: none" [(ngModel)]="selectedDate" name="selectedDate">
        <mat-datepicker touchUi="true" #picker class="cdk-overlay-transparent-backdrop"></mat-datepicker>
        <!-- Calendar Icon to open the Angular Material Datepicker -->
        <button mat-icon-button (click)="picker.open()" class="icon-button" [disabled]="isSubmitting">
          <i class="fa fa-calendar"></i>
        </button>
        <button (click)="onIndexSearch()" class="search-button" [disabled]="isSubmitting">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>

    <div class="search-button-container">
  <a href="/results" class="link-button">Search History</a>
</div>

    
    
    <div class="suggest-for-you">
        <h2 class="suggest-title">Suggestions for you</h2>
        <div class="suggestions-container">
            <span class="suggested-query">Enter a patent number</span>
            <span class="suggested-query">Describe an invention idea</span>
            <span class="suggested-query">Search patents by claims</span>
            <!-- Add more suggestions as needed -->
        </div>
    </div>
  </section>
  