/* Search PAGE */
#search {
  height: 100vh;
  position: relative; /* To position bubbles correctly */
  overflow: hidden; /* To ensure bubbles don't spill out */
  background: #F5F5F5;
  background: -webkit-linear-gradient(to right, #A8DADC, #F5F5F5);
  background: linear-gradient(to right, #A8DADC, #F5F5F5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-button-container {
  text-align: center;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8FC1A9; /* Teal for buttons */
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s;
}

.link-button:hover {
  background-color: #A8DADC; /* Change button color on hover */
}



a{
  color: #333;
}

#logo {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
#logo span {
  display: inline-block;
  transform-origin: center bottom;
  color: #8FC1A9; /* Soft Coral */
}

.search-form {
  position: relative; /* Changed from absolute to relative */
  transform: none; /* Reamove any transformations */
  margin: 10% auto 40px auto; /* Top margin pushes it down, bottom margin gives space before the next section */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s; /* This makes all property changes smooth */
  width: 60%; /* Adjust width as needed */
}

.suggest-for-you {
  margin-top: 30px; /* Add space between search bar and this section */
  background-color: #FFFFFF; /* White background */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
  width: 60%; /* Adjust as needed */
  margin-left: auto;
  margin-right: auto; /* Centering the container */
}

.suggest-title {
  font-family: 'Poppins', sans-serif;
  color: #8FC1A9; /* Teal for sub-headings */
  margin-bottom: 15px; /* Space between title and suggestions */
}

.suggestions-container {
  display: flex;
  gap: 10px; /* Space between individual suggestions */
  flex-wrap: wrap; /* Wrap to the next line if out of space */
}

.selections-container {
  display: flex;
  gap: 10px; /* Space between individual suggestions */
  flex-wrap: wrap; /* Wrap to the next line if out of space */
}

.suggested-query {
  background-color: #EDEDED; /* Light gray background */
  padding: 5px 15px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: #555; /* Darker text for better contrast on light background */
  cursor: pointer;
  transition: background-color 0.3s;
}
.selection-query {
  background-color: #EDEDED; /* Light gray background */
  padding: 5px 15px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: #555; /* Darker text for better contrast on light background */
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggested-query:hover {
  background-color:#A8DADC; /* Slightly darker gray on hover */
  color: white; 
}

.selection-query:hover {
  background-color:#A8DADC; /* Slightly darker gray on hover */
  color: white; 
}


.search-input-container {
  position: relative;  /* Ensures child absolute positioning is relative to this container */
  width: 100%;  /* Set to full width of its container */
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1; /* Allows it to fill available space */
  min-height: 40px; /* Set a minimum height */
  max-height: 120px; /* Set a maximum height */
  padding: 10px 10px 10px 10px; /* Adjusted padding */
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjusted width. Account for 2 buttons (each 40px) and the total right padding (90px): calc(100% - 90px - 40px - 40px)*/
  resize: none; /* Disable textarea resizing */
}

.search-input::placeholder {
  color: #A8DADC;
  font-family: 'Poppins', sans-serif;
}

.search-bar-title{
  position: relative;
  right: 50%;
  transform: translateX(50%);
}

.selection-title{
  font-family: 'Poppins', sans-serif;
}
        

/* button {  
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
} */

/* button.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} */

/* button.icon-button {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
} */

.search-and-calendar {
  display: flex;
  align-items: center; /* This aligns the items vertically at the center */
  justify-content: center; /* This centers the items horizontally */
}

.search-button-container {
  margin-right: 10px; /* Optional: Adds some space between the buttons */
}



button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/************************LOGIN BUTTON ******************/
/* Style for the container to position the button at the top right */
.top-right-dropdown {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Your existing styles for the button */
.login-button {
  background-color: #8FC1A9;
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: perspective(120px) rotateX(0deg);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-button i.fa {
  font-size: 28px;
  transition: transform 0.3s ease;
}

.login-button:hover {
  background-color: #A8DADC;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.25);
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8FC1A9;
  min-width: 160px;
  top: 60px; /* Adjust the position as needed */
  right: 0;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #A8DADC;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}



button i.fa {
  color: #8FC1A9; /* Gold icon colors */
}


.calendar-input {
  display: none; 
}



/* Media Queries */


@media (max-width: 768px) {
  .navbar-item a {
      padding: 2% 2%; /* Percentage-based padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar-item a {
      padding: 2% 0; /* Further reduce padding for even smaller screens */
  }
}

/* Results styling */
.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  opacity: 0;
}

.box {
  background-color: #fff;
  margin: 10px;
  width: 80%;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: boxFadeIn 0.5s forwards 0.5s; /* Start animation after a delay */
}

@keyframes boxFadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.mat-datepicker-panel {
  position: absolute !important;
  top: calc(100% + 5px);
  left: 0;
}

/* Override overlay backdrop styles */
.cdk-overlay-transparent-backdrop {
  background-color: transparent;
}
.letter {
  display: inline-block;
  transform-origin: center bottom;
}

.animate {
  animation: waviy 1s ease-out infinite;;
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
