
        <section id="home">
            <nav id="navbar">
                <div class="navTitle"><b>Patent.AI</b></div>
                <div class="links">
                    <a href="#home"><span class="current">Home</span></a> 
                    <a href="#about">About</a> 
                    <a href="/search">Search</a> 
                    <a href="/chat">Chat</a> 
                </div>
            </nav>
            <div class="HomePageMainText">
                <div class="text"> 
                    We query 🔍 using the <b>meaning</b> behind your ideas, not just an ordinary keyword search. 
                    Semantically search with accuracy using our prior art search tools.
                </div>
                <br><br><br><br>
                <div class="text">
                    Chat 💬 with your patents to learn more about them! 
                </div>
                <br><br><br><br>
                <div class="line">
                </div>
            </div>

            <div class="white-button">
                <a>Start Searching 🔍</a>
            </div>

            <div id="AboutTitle">About Us.</div>
        </section>

        <section id="about">
            <div class="aboutPara">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sed non quos alias eius ad? Debitis ipsam soluta excepturi cum. 
                Nobis harum officiis praesentium ad quasi odit incidunt blanditiis unde aliquid.

                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, autem distinctio? 
                Distinctio, consequatur laboriosam, dicta porro unde exercitationem cupiditate similique 
                praesentium itaque iste necessitatibus obcaecati aliquid adipisci impedit reiciendis quasi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sed non quos alias eius ad? Debitis ipsam soluta excepturi cum. 
                Nobis harum officiis praesentium ad quasi odit incidunt blanditiis unde aliquid.

                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, autem distinctio? 
                Distinctio, consequatur laboriosam, dicta porro unde exercitationem cupiditate similique 
                praesentium itaque iste necessitatibus obcaecati aliquid adipisci impedit reiciendis quasi.
            </div>

            <div class="container">
                <div class="box">  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sed non quos alias eius ad? Debitis ipsam soluta excepturi cum. 
                    Nobis harum officiis praesentium ad quasi odit incidunt blanditiis unde aliquid.</div>
                <div class="box">  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sed non quos alias eius ad? Debitis ipsam soluta excepturi cum. 
                    Nobis harum officiis praesentium ad quasi odit incidunt blanditiis unde aliquid.</div>
                <div class="box">  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sed non quos alias eius ad? Debitis ipsam soluta excepturi cum. 
                    Nobis harum officiis praesentium ad quasi odit incidunt blanditiis unde aliquid.</div>
              </div>


        </section>


<footer>
    <a href="https://www.freepik.com/free-vector/abstract-blue-circle-black-background-technology_34386132.htm#query=dark%20website%20background&position=3&from_view=keyword&track=ais">Image by flatart</a> on Freepik
</footer>
