@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#home{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100%;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-top: 2%;
    text-align: center;
    color: white;
}

.search-container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -40%);
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin: aut;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #777;
  }
  
  .fa-search {
    font-size: 16px;
  }
  
  .result{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    left: 23%;
    top: 70%;
    transform: translate(-23%, -70%);
  }

  .table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-container {
    width: 60%;
    height: 40%;
    overflow: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Poppins', sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #fff; /* Set text color to white */
  }
  
  tbody tr:last-child td {
    border-bottom: none;
  }
  
  tbody td:first-child {
    font-weight: bold;
  }
  
  tbody td:last-child {
    text-align: center;
  }
  