@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/***** NAV BAR ****/

#navbar{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;  
 }
 
 .navTitle{
     color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 80px;
     padding-left: 5%;
 
 }
 .links{
     flex-grow: 1;
     display: flex;
     justify-content: flex-end;
   }
   
   .links a {
     font-weight: bold;
     font-family: 'Poppins', sans-serif;
     color: white;
     padding: 0 5%;
     font-size: 25px;
     transition: 0.75s ease all;
   }
   
   .links a:hover {
     color: #39FF14;
   }
   .current{
     color: #39FF14;
   }
 



/**** HOME PAGE ***/
#home{
    height: 140vh;
    /* The image used */
    background-image: url("src/assets/HomeBackground.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.HomePageMainText{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

.text{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.line{
    height: 5px;
    width: 20%;
    background-color: white;
}

.white-button {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 85%;
    transform: translate(-85%, -85%);
  }
  
  .white-button a{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .white-button:hover {
    background-color: #f1f1f1;
  }

  /***************************** ABOUT *******************/
  #about{
    height: 60vh;
  }

  #AboutTitle{
    font-size: 130px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: absolute;
    top:90%; 
    left: 10%;
    transform: translate(-10%, 90%);
  }

  .aboutPara{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 85%;
    margin: auto;
    padding-top: 30px;
  }

  
.container {
  display: flex;
  justify-content: center; 
  padding-top: 15px;
}

.box {
  width: 30%;
  height: 100px;
  background-color: #f1f1f1;
  margin: 30px;
}
  /******************* Media Queries ******************/


  @media screen and (max-width: 1000px){
    .navTitle{
        font-size: 50px;
    }
    .links a{
        font-size: 20px;
    }
    
    .white-button a{
      font-size: 15px;
      font-family: 'Poppins', sans-serif;
    }
  }

  @media screen and (max-width: 800px){
    #AboutTitle{
      font-size: 100px;
      top: 130%; 
      left: 10%;
      transform: translate(-10%, -130%);
    }

  }

  @media screen and (max-width: 775px) {
    .navTitle{
        font-size: 35px;
    }
    .links a{
        font-size: 15px;
    }
    .text{
        font-size: 25px;
    }
  }
  
  @media screen and (max-width: 595px) {
    .navTitle{
        font-size: 35px;
    }
    .links a{
        font-size: 15px;
    }
  }

  
  @media screen and (max-width: 550px) {
    .navTitle{
        font-size: 27px;
    }
    .links a{
        font-size: 13px;
    }
    #AboutTitle{
      font-size: 70px;
      top: 130%; 
      left: 10%;
      transform: translate(-10%, -130%);
    }
  }


  @media screen and (max-width: 414px) {
    .navTitle{
        font-size: 25px;
    }
    .links a{
        font-size: 10px;
    }
    #AboutTitle{
      font-size: 70px;
      top: 130%; 
      left: 10%;
      transform: translate(-10%, -130%);
    }
  }
