<!DOCTYPE html>

<html lang="en">
    <head>

    </head>
    <body>

        <section id="home">
            <nav id="navbar">
                <div class="navTitle"><b>Patent.AI</b></div>
                <div class="links">
                    <a href="#home"><span class="current">Home</span></a> 
                    <a href="#about">About</a> 
                    <a href="">Search</a> 
                    <a href="">Chat</a> 
                </div>
            </nav>
            <div class="HomePageMainText">
                <div class="text"> 
                    We query 🔍 using the <b>meaning</b> behind your ideas, not just an ordinary keyword search. 
                    Semantically search with accuracy using our prior art search tools.
                </div>
                <br><br><br><br>
                <div class="text">
                    Chat 💬 with your patents to learn more about them! 
                </div>
                <br><br><br><br>
                <div class="line">
                </div>
            </div>

            <div class="white-button">
                <a>Start Searching 🔍</a>
            </div>

            <div id="AboutTitle">About Us.</div>
        </section>

        <section id="about">
            <div class="aboutPara">

            </div>


        </section>


        <!-- <footer>
            <a href="https://www.freepik.com/free-vector/abstract-blue-circle-black-background-technology_34386132.htm#query=dark%20website%20background&position=3&from_view=keyword&track=ais">Image by flatart</a> on Freepik
        </footer> -->
    </body>









</html>