

<section id="home">

    <h1 class="title">Prior Art Search Engine</h1>

    <div class="search-container" >
        <input type="text" placeholder="Search" [(ngModel)]="input">
        <button type="submit" (click)="test()"><i class="fas fa-search"></i></button>
    </div>


    <div class="table-wrapper">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Abstract</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Title of Paper</td>
                <td>Abstract</td>
                <td>Score</td>
              </tr>
              <tr>
                <td>Title of Paper</td>
                <td>Abstract</td>
                <td>Score</td>
              </tr>
              <tr>
                <td>Title of Paper</td>
                <td>Abstract</td>
                <td>Score</td>
              </tr>
              
              <!-- Add more table rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
      

    <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>

</section>

<section>
    
</section>